:root {
  --main-font: "Roboto", sans-serif;
}

.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: black;
  text-decoration: none;
}
.logo:hover,
.logo:focus {
  color: #2196f3;
}

.web-logo {
  color: #2196f3;
}

.menu-item {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;
  color: black;
}
.menu:hover,
.menu:focus {
  color: #2196f3;
}
